{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block stylesheets %}
    <link href="assets/css/pages/todo/todo.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    Gestion des produits </h3>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{ url('admin') }}" class="kt-subheader__breadcrumbs-link">
                        Tableau de bord </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{ url('gestion_boutique') }}" class="kt-subheader__breadcrumbs-link">
                        Gestion des produits </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Gestion des produits
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <a href="#" class="btn btn-clean btn-icon-sm">
                            <i class="la la-long-arrow-left"></i>
                            Retour
                        </a>
                        &nbsp;
                        <div class="dropdown dropdown-inline">
                            <button onclick="window.location.href = '{{ url('editer_product') }}';" type="button" class="btn btn-brand btn-icon-sm" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Ajouter un produit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="kt-datatable" id="column_rendering"></div>

                <!--end: Datatable -->
            </div>
        </div>
    </div>

    <!-- end:: Content -->

{% endblock %}


{% block javascripts %}
    <script>
        var dataUrl = "{{ url('product_data') }}";
        var editUrl = "{{ url('editer_product') }}";
        var deleteUrl = "{{ url('supprimer_product') }}";
    </script>
    <script src="assets/js/pages/crud/metronic-datatable/advanced/product.js" type="text/javascript"></script>
{% endblock %}