{% extends 'base.html.twig' %}

{% block title %}Votre chat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/chat.css">
{% endblock %}

{% block body %}

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row justify-content-center h-100">
                <div class="col-md-12 col-xl-10 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    {% if destination.profilPic is null %}
                                    <img src="images/user/base.jpg" class="rounded-circle user_img">
                                    {% else %}
                                        <img src="{{ 'uploads/medias/' ~asset(destination.profilPic.file) }}" class="rounded-circle user_img">
                                    {% endif %}
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>Chat avec {{ destination.username }}</span>
                                    <p>{{ messages|length }} Messages</p>
                                </div>
                            </div>
                        </div>
                        <div id="chatbox" class="card-body msg_card_body">
                            {% for message in messages %}

                                {% if app.user.id == message.recipient.id %}

                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            {% if message.sender.profilPic is null %}
                                                <img src="images/user/base.jpg" class="rounded-circle user_img_msg">
                                            {% else %}
                                                <img src="{{ 'uploads/medias/' ~asset(message.sender.profilPic.file) }}" class="rounded-circle user_img_msg">
                                            {% endif %}
                                        </div>
                                        <div class="msg_cotainer">
                                            {{ message.content }}
                                            <span class="msg_time">{{ message.date|date("H:i d/m/Y") }}</span>
                                        </div>
                                    </div>

                                {% else %}

                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="img_cont_msg">
                                            {% if message.sender.profilPic is null %}
                                                <img src="images/user/base.jpg" class="rounded-circle user_img_msg">
                                            {% else %}
                                                <img src="{{ 'uploads/medias/' ~asset(message.sender.profilPic.file) }}" class="rounded-circle user_img_msg">
                                            {% endif %}
                                        </div>
                                        <div class="msg_cotainer">
                                            {{ message.content }}
                                            <span class="msg_time">{{ message.date|date("H:i d/m/Y") }}</span>
                                        </div>
                                    </div>

                                {% endif %}

                            {% endfor %}
                        </div>
                        {{ form_start(form) }}
                        <div class="card-footer">
                            <div class="input-group">
                                {{ form_widget(form.content, {'id' : 'chatarea'}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Wrapper END -->

{% endblock %}

{% block javascripts %}
    <script>
        $(".send_btn").on("click", function(){
            var form = $(this).parents('form:first');
            $.ajax({
                type: 'post',
                url: form.attr("action"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    $("#chatbox").append('<div class="d-flex justify-content-'+data.class+' mb-4"><div class="img_cont_msg"><img src="'+data.picture+'" class="rounded-circle user_img_msg"></div> <div class="msg_cotainer">'+data.content+' <span class="msg_time">'+data.date+'</span></div> </div>');
                    var d = $('#chatbox');
                    d.scrollTop(d.prop("scrollHeight"));
                }
            });
            $('textarea').val('');
        });

        var ajaxurl = "{{ url('getchat', {'id' : destination.id}) }}";
        setInterval(function(){
            $.getJSON( ajaxurl, function( response ) {

                $.each( response, function( key, data ) {
                    $("#chatbox").append('<div class="d-flex justify-content-'+data.class+' mb-4"><div class="img_cont_msg"><img src="'+data.picture+'" class="rounded-circle user_img_msg"></div> <div class="msg_cotainer">'+data.content+' <span class="msg_time">'+data.date+'</span></div> </div>');
                    var d = $('#chatbox');
                    d.scrollTop(d.prop("scrollHeight"));
                });

            });
        }, 1000);

        var d = $('#chatbox');
        d.scrollTop(d.prop("scrollHeight"));
    </script>
{% endblock %}